@model IEnumerable<eRoutingSlip.Models.DivisionListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="container mt-3">
    <h3>Summary</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Division</th>
                <th scope="col">Division Head</th>
                <th scope="col">Active Routing Slips</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td><h5>@item.DivisionName</h5></td>
                    <td>@item.DivisionHead</td>
                    <td>@item.RSCount</td>
                </tr>
            }
        </tbody>
    </table>
    <ol id="SendList"></ol>
    <div id="SendInput">
        <input type="text" class="inputfield" id="input0" />
    </div>
    @Html.ActionLink(" Add ", "#", "", null, new { onclick = "return Add();" })

</div>

<script>


    function Add() {

        var node = document.createElement("INPUT");

        var c = document.getElementById("SendList").childElementCount;
        var oldNode = "input" + c;
        var nodeId = "input" + (c + 1);
        node.setAttribute("id", nodeId);
        node.setAttribute("type", "text");
        node.setAttribute("class", "inputfield");


        document.getElementById("SendInput").appendChild(node);
        var listnode = document.createElement("LI");

        var textnode;
        // add to list
        if (c < 1) {
            textnode = document.createTextNode($("#input0").val());
            document.getElementById("SendList").appendChild(listnode);

        }
        else {
            var nodecontent = document.getElementById(oldNode).value;
            textnode = document.createTextNode(nodecontent);

        }
        listnode.appendChild(textnode);
        document.getElementById("SendList").appendChild(listnode);

        return false;
    }



</script>

