@*@model IEnumerable<eRoutingSlip.Models.LinkedListSignature>*@
@*@model IEnumerable<eRoutingSlip.Models.RoutingSlipSignatureViewModel>*@
@model IEnumerable<eRoutingSlip.Models.RoutingSlip>


<div class="container mt-3">
    <h3>Requests Received</h3>


    <table class="table">
        <tr>
            <th>
                RS #
            </th>
            <th>
                Requesting Employee
            </th>
            <th>
                Date Submitted
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoutingSlipID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSubmitted)
            </td>
            <td>
                @Html.ActionLink("Review", "Details", new { id = item.RoutingSlipID })
            </td>
        </tr>
        }

    </table>
</div>
