@model IEnumerable<eRoutingSlip.Models.RoutingSlipSignatureViewModel>
@{
    ViewBag.Title = "Summary";
}

<div class="container mt-3">
    <h3>Summary</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Routing ID</th>
                <th scope="col">Document Name</th>
                <th scope="col">Current Reviewer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RoutingSlipID</td>
                    <td>@item.DocumentName</td>
                    <td>@item.CurrentName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
